@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter";
  font-weight: 400;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header-black {
  background-color: black;
  height: 140px;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 40px;
}
.header__nav-link {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #FFF;
  text-decoration: none;
  margin-right: 35px;
}
.header__nav-link:last-child {
  margin-right: 0;
}
.header-blue {
  color: blue;
}

@media (max-width: 850px) {
  .header__nav {
    display: none;
  }
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.home {
  background: url(../img/home/Обложка.png) no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.home__content {
  padding-top: 247px;
  text-align: center;
}
.home__title {
  font-size: 96px;
  font-weight: 700;
  color: #FFF;
  text-align: center;
  margin-bottom: 38px;
}
.home__button {
  display: inline-block;
  background-color: #151515;
  padding: 23px;
  max-width: 430px;
  width: 100%;
  font-size: 36px;
  font-weight: 700;
  color: #FFF;
}

@media (max-width: 991px) {
  .home__content {
    padding-top: 195px;
  }
  .home__title {
    font-size: 70px;
  }
  .home__button {
    max-width: 395px;
    font-size: 30px;
  }
}
@media (max-width: 850px) {
  .home__title {
    font-size: 50px;
  }
}
@media (max-width: 620px) {
  .home__button {
    max-width: 350px;
    font-size: 25px;
  }
}
@media (max-width: 520px) {
  .home__title {
    font-size: 42px;
  }
  .home__button {
    max-width: 270px;
    font-size: 20px;
  }
}
@media (max-width: 420px) {
  .home__title {
    font-size: 31px;
  }
  .home__button {
    max-width: 230px;
  }
}
.lease {
  padding: 150px 0;
}
.lease__title {
  font-size: 48px;
  font-weight: 700;
  color: #151515;
  text-align: center;
  margin-bottom: 59px;
}
.lease__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
}
.lease__item {
  width: 25%;
  padding: 0 20px;
}
.lease__images {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.lease__subtitle {
  font-size: 24px;
  font-weight: 700;
  color: #151515;
  margin: 30px 0;
  text-align: center;
}
.lease__paragraph {
  font-size: 16px;
  color: #151515;
  max-width: 270px;
  line-height: 130%;
}

@media (max-width: 1200px) {
  .lease {
    padding: 120px 0;
  }
  .lease__title {
    font-size: 40px;
  }
  .lease__item {
    width: 50%;
  }
  .lease__paragraph {
    margin-bottom: 20px;
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .lease {
    padding: 90px 0;
  }
  .lease__title {
    font-size: 35px;
  }
}
@media (max-width: 620px) {
  .lease__title {
    font-size: 30px;
  }
  .lease__item {
    width: 100%;
  }
}
@media (max-width: 520px) {
  .lease {
    padding: 50px 0;
  }
  .lease__item {
    margin-bottom: 20px;
  }
}
.how__body {
  margin: 0 auto;
  max-width: 640px;
}
.how__title {
  font-size: 48px;
  font-weight: 700;
  color: #151515;
  margin-bottom: 50px;
}
.how__paragraph {
  font-size: 16px;
  color: #151515;
  margin-bottom: 50px;
  line-height: 130%;
}
.how__content {
  margin-bottom: 70px;
}
.how__content-words {
  font-size: 16px;
  color: #151515;
  width: 270px;
  line-height: 130%;
}
.how__subtitle {
  font-size: 24px;
  font-weight: 700;
  color: #151515;
  margin-bottom: 50px;
  max-width: 580px;
}
.how__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.how__row img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: 70px;
}
.how__bottom {
  font-size: 16px;
  color: #151515;
  max-width: 580px;
  line-height: 130%;
}

@media (max-width: 768px) {
  .how__title {
    font-size: 47px;
  }
}
@media (max-width: 620px) {
  .how__title {
    font-size: 40px;
  }
}
@media (max-width: 520px) {
  .how__title {
    font-size: 31px;
  }
  .how__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .how img {
    margin-bottom: 20px;
    margin-left: 0;
  }
  .how__content-words {
    width: auto;
    margin: 0 auto;
  }
}
.welcome {
  padding: 150px 0;
}
.welcome__top {
  text-align: center;
  margin-bottom: 50px;
}
.welcome__title {
  font-size: 48px;
  font-weight: 700;
  color: #151515;
  margin-bottom: 20px;
}
.welcome__subtitle {
  font-size: 24px;
  font-weight: 700;
  color: #151515;
}
.welcome__video {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .welcome {
    padding: 120px 0;
  }
  .welcome__title {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  .welcome {
    padding: 90px 0;
  }
  .welcome__title {
    font-size: 35px;
  }
  .welcome__subtitle {
    font-size: 20px;
  }
}
@media (max-width: 520px) {
  .welcome {
    padding: 50px 0;
  }
  .welcome__title {
    font-size: 27px;
  }
}
.important {
  padding-bottom: 150px;
}
.important__top {
  margin: 0 auto;
}
.important__title {
  font-size: 48px;
  font-weight: 700;
  color: #151515;
  margin-bottom: 20px;
  text-align: center;
}
.important__paragraph {
  font-size: 16px;
  color: #151515;
  margin: 0 auto 50px;
  max-width: 580px;
  line-height: 130%;
}
.important__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
}
.important__item {
  width: 25%;
  padding: 0 20px;
}
.important__images {
  display: block;
  max-width: 100%;
  margin-bottom: 20px;
}
.important__words {
  font-size: 16px;
  color: #151515;
  max-width: 270px;
  line-height: 130%;
}

@media (max-width: 1200px) {
  .important__title {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  .important__title {
    font-size: 35px;
  }
  .important__item {
    width: 50%;
    margin-bottom: 20px;
  }
  .important__images {
    width: 100%;
  }
  .important__words {
    max-width: 100%;
  }
}
@media (max-width: 620px) {
  .important {
    padding-bottom: 70px;
  }
  .important__title {
    font-size: 34px;
  }
  .important__item {
    width: 100%;
  }
}
@media (max-width: 520px) {
  .important__title {
    font-size: 27px;
  }
}
.footer {
  background-color: black;
  padding: 50px 0;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer__nav-link {
  display: block;
  font-size: 16px;
  color: #FFF;
  margin-bottom: 20px;
  text-decoration: none;
}
.footer__nav-link:last-child {
  margin-bottom: 50px;
}
.footer__title {
  font-size: 24px;
  font-weight: 700;
  color: #FFF;
  margin-bottom: 40px;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.footer__photos {
  margin-right: 68px;
}
.footer__photos:last-child {
  margin-right: 0;
}
.footer__image {
  display: block;
  max-width: 100%;
}
.footer__paragraph {
  font-size: 12px;
  color: #FFF;
  text-align: center;
  margin-bottom: 30px;
}
.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__navigation-link {
  margin-right: 40px;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
}
.footer__navigation-link:last-child {
  margin-right: 0;
}

@media (max-width: 850px) {
  .footer__item {
    width: 50%;
    text-align: center;
  }
}
@media (max-width: 620px) {
  .footer__navigation-link {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}
@media (max-width: 520px) {
  .footer__item {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .footer__photos {
    margin-right: 50px;
  }
}