.important {
    padding-bottom: 150px;
    
   &__top {
       margin: 0 auto; 
    }

    &__title {
        font-size: 48px;
        font-weight: 700;
        color: #151515;
        margin-bottom: 20px;
        text-align: center;

    }

    &__paragraph {
        font-size: 16px;
        color: #151515;
        margin: 0 auto 50px;
        max-width: 580px;
        line-height: 130%; 
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;
    }

    &__item {
        width: 25%;
        padding: 0 20px;
    }

    &__images {
        display: block;
        max-width: 100%;
        margin-bottom: 20px;
    }

    &__words {
        font-size: 16px;
        color: #151515;
        max-width: 270px;
        line-height: 130%; 
    }
}

@media (max-width: 1200px) {
    .important__title {
        font-size: 40px;
    }

}

@media (max-width: 991px) {
    .important__title {
        font-size: 35px;
    }

    .important__item {
        width: 50%;
        margin-bottom: 20px;
    }

    .important__images {
        width: 100%;
    }

    .important__words {
       max-width: 100%;
    }
}

@media (max-width:620px) {
    .important {
        padding-bottom: 70px;
    }
    .important__title {
        font-size: 34px;
    }

    .important__item {
        width: 100%;
    }
}

@media (max-width:520px) {
    .important__title {
        font-size: 27px;
    }

    }
